<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pages/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Create Account | Simply Yum</title>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container">
            <h1>Create Account</h1>
            <form action="/auth/sign-up" method="POST" enctype="multipart/form-data">
                <div class="input-control">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="input-control">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>

                <div class="input-control">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>

                <div class="input-control">
                    <input type="password" name="passwordChecker" id="passwordChecker" placeholder="Confirm Password" required>
                </div>

                <div class="input-control">
                    <i class="fa-solid fa-cloud-arrow-up"></i> Upload Image
                    <input type="file" name="avatar" id="avatar" accept="image/*">
                </div>

                <% if (errorMessage) { %>
                    <p class="error-message">
                        <%= errorMessage %>
                    </p>
                <% } %>
                    <div class="signup-btn">
                        <button type="submit" class="btn-signup">Sign Up</button>
                    </div>
            </form>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>