<footer class="footer">
    <p>@<%= new Date().getFullYear() %> Simply Yum | Designed & Developed by Callum Liu</p>
    <a href="https://github.com/Ryziou">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="30" height="30">
    </a>
</footer>