<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>404 | Simply Yum</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="errorImage">
    <img src="https://res.cloudinary.com/dit5y4gaj/image/upload/v1744838706/GSAP-SVG-Animation-404-Error-Milk-Carton_dt9rbw.gif" alt="404">
    </div>
</body>
</html>