<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pages/new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script defer src="/scripts/app.js"></script>
    <title>Create Recipe | Simply Yum</title>
</head>

<body>
    <%- include('../partials/nav') %>
        <div class="container">
            <div class="create-recipe-header">
                <h1>Create a New Recipe</h1>
                <p>Share your culinary masterpiece with Simply Yum!</p>
            </div>

            <form action="/recipes" method="POST" class="create-recipe-form" enctype="multipart/form-data">

                <section class="form-section">
                    <h2>Recipe Info</h2>
                    <div class="recipe-info">
                    <div class="input-control">
                        <label for="title">Recipe Title</label>
                        <input type="text" name="title" id="title" placeholder="Name of the recipe" required>
                    </div>
                    <div class="input-control">
                        <label for="category">Category</label>
                        <select name="category" id="category" required>
                            <option value="" selected disabled>Select a Category</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="main">Main</option>
                            <option value="dessert">Dessert</option>
                        </select>
                    </div>
                </div>
                    <div class="input-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="description-content" placeholder="Details about the recipe"></textarea>
                    </div>
                </section>
                
                <section class="form-section">
                    <h2>Recipe Image</h2>
                    <div class="input-control text-center">
                        <i class="fa-solid fa-cloud-arrow-up"></i> Upload Image
                        <input type="file" name="imageUrl" id="imageUrl" accept="image/*">
                    </div>
                </section>

                <section class="form-section">
                    <h2>Ingredients</h2>
                    <div class="input-control ingredient-row" id="ingredients-container">
                        <div class="input-container">
                            <input type="text" name="ingredients" class="ingredient-row" placeholder="e.g. 2 cups flour">
                            <button type="button" class="delete-btn">❌</button>
                        </div>
                        <div class="input-container">
                            <input type="text" name="ingredients" class="ingredient-row" placeholder="e.g. 1 tsp salt">
                            <button type="button" class="delete-btn">❌</button>
                        </div>
                        <div class="input-container">
                            <input type="text" name="ingredients" class="ingredient-row" placeholder="e.g. 3 eggs">
                            <button type="button" class="delete-btn">❌</button>
                        </div>
                    </div>
                    <button type="button" id="add-ingredients">+ Add Ingredient</button>
                </section>

                <section class="form-section">
                    <div class="input-control">
                        <h2>Instructions</h2>
                        <div class="instruction-content">
                            <div class="input-container">
                                <textarea name="instructions" placeholder="Step 1..."></textarea>
                                <button type="button" class="delete-btn">❌</button>
                            </div>
                            <div class="input-container">
                                <textarea name="instructions" placeholder="Step 2..."></textarea>
                                <button type="button" class="delete-btn">❌</button>
                            </div>
                        </div>
                        <button type="button" id="add-instructions">+ Add Another Step</button>
                    </div>
                </section>
                <section class="form-section ">
                    <h2>Recipe Details</h2>
                    <div class="recipe-details">
                    <div class="input-control">
                        <label for="cookTime">Cook Time (minutes):</label>
                        <input type="number" name="cookTime" id="cookTime">
                    </div>

                    <div class="input-control">
                        <label for="servings">Servings:</label>
                        <input type="number" name="servings" id="servings">
                    </div>
                </div>
                </section>
                <section class="submit-btn">
                    <button type="submit" class="btn-submit">Create Recipe</button>
                </section>
            </form>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>